{% extends 'base.html' %}

 {% block title %}
    <title>unouthorized</title>
 {%endblock%}
{% block content %}
<body class="container-sm p-3 mb-2 " style="background-color: lightblue;">
<center>
            <div class="container-sm">
              <h1>Login page</h1>
              <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Login page
                {% endif %}
              </span>
                <form  method="post" style="width: 500px; background-color:white;padding: 40px;border-radius: 10px;">
                    {% csrf_token %}
                  <div>
                    <label for="username" style="color:black">Username</label>
                      {{ form.username }}
                  </div><br>
                  <div >
                    <label for="username" style="color:black">Password</label>
                    {{ form.password }}
                  </div><br>
                  <input type="submit" value="Log In" class="btn btn-primary">
                </form>

            </div>
</center>
</body>
 {%endblock%}